.profile__edit-button {
  border: 0;
  padding: 0;
  margin-top: 14px;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/Edit\ Button.svg);
  background-repeat: no-repeat;
  background-color: transparent;

  flex-shrink: 0;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    margin-top: 27px;
    background-size: 18px 18px;
  }
}